
@{
    ViewBag.Title = "Exception occured!";
}
<h2>@ViewBag.ErrorTitle</h2>
@if (ViewBag.ErrorMessage != null)
{
    <h3>
        @ViewBag.ErrorMessage
    </h3>
}
else
{
    <h3>Error occured, please contact our administration</h3>
}



